<div class="wrapper poppins-regular">
  <img class="wrapper__logo" src="/assets/images/logo.svg" alt="" />
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onFormSubmit()"
    class="wrapper__signup-form"
  >
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="text"
        placeholder="Your username"
        formControlName="username"
      />
      <span
        class="wrapper__signup-form__input-wrapper__error"
        *ngIf="
          signupForm.get('username')?.errors &&
          (signupForm.get('username')?.dirty ||
            signupForm.get('username')?.touched)
        "
      >
        <span
          *ngIf="signupForm.get('username')?.hasError('usernameIsRequired')"
        >
          Username is required
        </span>
        <span *ngIf="signupForm.get('username')?.hasError('invalidUsername')">
          Username must contain one of A-Z or a-z or 0-9 or _
        </span>
      </span>
    </div>
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="email"
        placeholder="Your email"
        formControlName="email"
      />
      <span
        *ngIf="
          (signupForm.get('email')?.dirty ||
            signupForm.get('email')?.touched) &&
          signupForm.get('email')?.errors
        "
        class="wrapper__signup-form__input-wrapper__error"
      >
        <span *ngIf="signupForm.get('email')?.hasError('missingEmail')">
          Email address is required
        </span>
        <span *ngIf="signupForm.get('email')?.hasError('invalidEmail')">
          The email must be a work email so it should end with
          &#64;the__b_a_e.com
        </span>
      </span>
    </div>
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="password"
        placeholder="Your password"
        formControlName="password"
      />
      <ng-template [ngTemplateOutlet]="passwordMismatchTemplate"></ng-template>
      <div class="password-valid-checks">
        <div
          class="password-valid-checks__check"
          *ngFor="let check of passwordValidationChecks"
          [ngClass]="{
            valid:
              (signupForm.get('password')?.touched ||
                signupForm.get('password')?.dirty) &&
              !signupForm.hasError(check.key)
          }"
        >
          {{ check.label }}
        </div>
      </div>
    </div>
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
      <ng-template [ngTemplateOutlet]="passwordMismatchTemplate"></ng-template>
    </div>
    <button
      [disabled]="signupForm.invalid"
      class="wrapper__signup-form__signup-button poppins-bold"
      [ngClass]="{ disabled: signupForm.invalid }"
    >
      Become A Member
    </button>
  </form>
</div>

<!-- shared templates -->
<ng-template #passwordMismatchTemplate>
  <span
    *ngIf="
      (signupForm.get('password')?.touched ||
        signupForm.get('password')?.dirty) &&
      (signupForm.get('confirmPassword')?.touched ||
        signupForm.get('confirmPassword')?.dirty) &&
      signupForm.hasError('passwordsDoNotMatch')
    "
    class="wrapper__signup-form__input-wrapper__error"
    >Passwords do not match</span
  >
</ng-template>
