<div class="wrapper poppins-regular">
  <img class="wrapper__logo" src="/assets/images/logo.svg" alt="" />
  <form class="wrapper__signup-form">
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="text"
        placeholder="Your username"
      />
      <span class="wrapper__signup-form__input-wrapper__error"
        >Username must contain one of A-Z or a-z or 0-9
      </span>
    </div>
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="email"
        placeholder="Your email"
      />
      <span class="wrapper__signup-form__input-wrapper__error"
        >The email must be a work email so it should end with
        &#64;thebae.com</span
      >
    </div>
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="password"
        placeholder="Your password"
      />
      <div class="password-valid-checks">
        <!-- a loop here for the passwords validity checks -->
      </div>
    </div>
    <div class="wrapper__signup-form__input-wrapper">
      <input
        class="wrapper__signup-form__input-wrapper__field"
        type="password"
        placeholder="Confirm password"
      />
      <span class="wrapper__signup-form__input-wrapper__error"></span>
    </div>
    <button class="wrapper__signup-form__signup poppins-bold">
      Become A Member
    </button>
  </form>
</div>
